# Build artifacts

*.o
*.bin
*.img
*.iso

build/
*.o
*.bin
*.img
*.iso

# Temporary files
autorun.txt
fat32_partition.img
poggi_disk.img
nota.txt
idx.bin
*.log

# IDE / editor
.vscode/
.idea/
*~
*.swp

# OS specific
.DS_Store
Thumbs.db
